body {
    color: white;
    background-color: #2F2C38;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

header {
    width: 99%;
    height: auto;
    /* padding: 20px; */
}

.danh-sach-muc {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.lien-ket-muc {
    /* padding: 15px;
    border-radius: 15px; */
    text-decoration: none;
    color: #DBDBDD;
    font-weight: 550;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.muc {
    padding: 15px;
    border-radius: 20px;
}

.muc:hover {
    background-color: gray;
}

.logo {
    width: 95px;
}

.avatar {
    width: 50px;
    border-radius: 15px;
}

.dang-chon {
    background-color: #4E4B52;
}

/* Main */

main {
    width: 99%;
    height: auto;
}

.banner {
    /* background-color: aliceblue; */
    width: 95%;
    margin: 20px auto;
    border-radius: 10px;
}

.banner-anh {
    width: 100%;
    border-radius: 10px;
}

.danh-sach-the-loai {
    width: 95%;
    /* background-color: aliceblue; */
    margin-top: 20px;
}

.the-loai {
    margin: 50px;
}

.ten-the-loai {
    font-weight: 550;
    margin: 5px 0;
}

.phim {
    display: flex;
    justify-content: space-between;
}

.phim-poster {
    width: 19%;
    background-color: aliceblue;
    border-radius: 10px;
}

.danh-sach-nhan-vat {
    width: 95%;
    /* background-color: aliceblue; */
    margin-top: 20px;
}

.nhan-vat {
    display: flex;
    justify-content: space-between;
}

.nhan-vat-poster {
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 50%;
}

/* Footer */
footer {
    width: 99%;
    height: auto;
    margin: 0 20px;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cot-footer {
    display: flex;
    margin: 0 20px;
    flex-direction: column;
}

.cot-footer__thong-tin {
    color: #777973;
    margin: 10px 0;
}